<suite name="tests" verbose="1">
    <test name="Tests">
        <classes>
            <class name="tests.InvalidEmailRegistration"></class>
            <class name="tests.PasswordMismatchRegistration"></class>
            <class name="tests.UserProfileInfoEdit"></class>
            <class name="tests.UnregisteredUserLikingPosts"></class>
            <class name="tests.SearchButtonNotWorking"></class>
        </classes>
    </test>
</suite>